include /components/elements/button/button

mixin section-main
    .main
        .main__bg
        .main__content
            .main__content-line
            p.main__content-desc= 'Crafty Metaverse'
            p.main__content-title
                |A SHARED, IMMERSIVE MULTI-BLOCKCHAIN BASED
                img.star(src='assets/img/svg/star.svg')
                |METAVERSE ECOSYSTEM
            .main__content-btn
                +button('fill-border', 'Invest Now')
        .main__dec-blur-1
        .main__dec-blur-2
        .main__dec-blur-3
        .main__dec-blur-4
        .main__dec-blur-5
        .main__dec-blur-6