@import "~Assets/fonts/Gilroy/stylesheet";
@import "~Assets/fonts/Helios/stylesheet";

@font-face {
	font-family: 'Mandatory';
	src: url('../../assets/fonts/Mandatory Plaything/Mandatory Plaything.otf') format('opentype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'PlusJakartaSans';
	src: url('../../assets/fonts/Plus Jakarta Sans/PlusJakartaSans-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'PlusJakartaSans';
	src: url('../../assets/fonts/Plus Jakarta Sans/PlusJakartaSans-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'PlusJakartaSans';
	src: url('../../assets/fonts/Plus Jakarta Sans/PlusJakartaSans-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'PlusJakartaSans';
	src: url('../../assets/fonts/Plus Jakarta Sans/PlusJakartaSans-Medium.ttf') format('truetype');
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'SourceSansPro';
	src: url('../../assets/fonts/Source Sans Pro/SourceSansPro-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}