mixin section-resources
    .resources
        .resources__content
            .resources__content-desc= 'What we do'
            .resources__content-title= 'Our resources'
            .resources__content-main
                .info
                    .info__lines
                    img.info__logo(src='assets/img/svg/resources-logo.svg')
                    .info__title= 'About toKen $Cmeta'
                    .info__text= 'CMETA, a BSC-based cryptocurrency token will be the sole governance token on the platform. This means that every single transaction in the Crafty Metaverse space will be conducted with the $CMETA token'
                    .info__btn
                        +button('fill-border', 'Play (Coming Soon)')
                    .line
                    .star
                        img(src='assets/img/svg/star.svg')
                .img
                    .blur-2
                    img.img__main(src='assets/img/svg/resources-img.svg')
                    .circle
                        .circle__one
                        .circle__two
                        .circle__three
                .blur-1
